<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>女神大放送</title>
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="stylesheet" type="text/css" href="/static/css/starnew.css">
	<style type="text/css">
		#gallery-wrapper {
		position: relative;
		max-width: 75%;
		width: 75%;
		margin:50px auto;
		}
		img.thumb {
		width: 100%;
		max-width: 100%;
		height: auto;
		}
		.white-panel {
		position: absolute;
		background: white;
		border-radius: 5px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
		padding: 10px;
		}
		.white-panel h1 {
		font-size: 1em;
		}
		.white-panel h1 a {
		color: #A92733;
		}
		.white-panel:hover {
		box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
		margin-top: -5px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		}
	</style>
	<!--[if IE]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
	{{ JSGlue.include() }}
</head>
<body>
<div align="center">
<section style="width: 100%">
	<a href="#" onclick="alert('女神大排名，敬请期待')">
<img src="../static/img/banner-new.jpeg" width="60%" height="30%">
		</a>
</section>
	</div>
	<section id="gallery-wrapper">
		{% for p in data %}
			<article class="white-panel">
			<img class="thumb" data-original="{{ p[1] }}">
				<h1><a href="{{ url_for('nvshen', id=p[2]) }}" title="去投票" target="_blank">{{ p[0] }}</a>
				</h1>
	  		<p>
                {% if score == 1 %}
                <a href="#">1<img src="/static/img/like.png" width="10%", height="10%"></a>
                {% endif %}
{#				<div id="starBg" class="stars-bg">#}
{#						{% if score == 1 %}#}
{#						<a href="#" class="star-active" style="width: 20%"></a>#}
{#						{% elif score == 2 %}#}
{#						<a href="#" class="star-active" style="width: 40%"></a>#}
{#						{% elif score == 3 %}#}
{#						<a href="#" class="star-active" style="width: 60%"></a>#}
{#						{% elif score == 4 %}#}
{#						<a href="#" class="star-active" style="width: 80%"></a>#}
{#						{% elif score == 5 %}#}
{#						<a href="#" class="star-active" style="width: 100%"></a>#}
{#						{% else %}#}
{#						<a href="#" class="star-active" style="width: 0%"></a>#}
{#						{% endif %}#}
{#					</div>#}
			</p>
		</article>
		{% endfor %}

    </section>
	
	<script src="static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/pinterest_grid.js"></script>
    <script src="/static/js/lazyload.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#gallery-wrapper").pinterest_grid({
				no_columns: 4,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 700
			});
			
		});
		$(function(){
        	$("img.thumb").lazyload();
    	});
		var totalHeight = $(document).height(); //整个文档高度
		var seeHeight = $(window).height(); //浏览器可视窗口高度
		var thisBodyHeight = $(document.body).height(); //浏览器当前窗口文档body的高度
		var totalBodyHeight = $(document.body).outerHeight(true);//浏览器当前窗口文档body的总高度 包括border padding margin
		var thisWidth = $(window).width(); //浏览器当前窗口可视区域宽度
		var thisDocumentWidth = $(document).width();//浏览器当前窗口文档对象宽度
		var thisBodyWidth = $(document.body).width();//浏览器当前窗口文档body的宽度
		var totalBodyWidth = $(document.body).outerWidth(true);//浏览器当前窗口文档body的总宽度 包括border padding margin
		var scrollTop = $(window).scrollTop();//浏览器可视窗口顶端距离网页顶端的高度（垂直偏移）
		var p = 2;
		var flag = true;
		$(window).scroll(function () {
			scrollTop = $(window).scrollTop();
			//console.log("totalHeight-scrollTop-$(this).height()", totalHeight-scrollTop-$(this).height());
			totalHeight = $(document).height();
			if(flag){
				if(totalHeight-scrollTop-$(this).height()<0.5){
					//console.log("add new html");
					getData(p);
					p ++;
				}
			}
		});
		function getData(page) {
			var xhr = new XMLHttpRequest();
			xhr.responseType = "json";
			xhr.open('POST', '/api/getdata/' + page, true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.onload = function (ev) {
				if(this.status === 200) {
					if(this.response['end'] === true) {
						flag = false;
					}
						var mydata = this.response['msg'];
						//console.log(mydata[1][2]);
						for(var i=0, len=mydata.length; i<len; i++){
							var myurl = mydata[i][1];
							var myid = mydata[i][2];
							var myname = mydata[i][0];
							var htmlText = '<article class="white-panel">' +
								'<img data-original=' + myurl +' class="thumb">' +
								'<h1>' +
								'<a href=URL title="去投票" target="_blank">'.replace("URL", Flask.url_for("nvshen", {id: myid})) +
								 myname + '</a>' +
								'</h1>' +
								'<p>' +
								'<div id="starBg" class="stars-bg">' +
								'{% if score == 1 %}' +
								'<a href="#" class="star-active" style="width: 20%"></a>' +
								'{% elif score == 2 %}' +
								'<a href="#" class="star-active" style="width: 40%"></a>' +
								'{% elif score == 3 %}' +
								'<a href="#" class="star-active" style="width: 60%"></a>' +
								'{% elif score == 4 %}' +
								'<a href="#" class="star-active" style="width: 80%"></a>' +
								'{% elif score == 5 %}' +
								'<a href="#" class="star-active" style="width: 100%"></a>' +
								'{% else %}' +
								'<a href="#" class="star-active" style="width: 0%"></a>' +
								'{% endif %}' +
								'</div>' +
								'</p>' +
								'</article>';
							var script = '<script>' +
									'$(function(){' +
									'$("img.thumb").lazyload();' +
									'})' +
									'<\/script>';
							$('#gallery-wrapper').append(htmlText);
							$('body').append(script);
						}
				}else if(this.status === 422) {
					console.log("get data error");
				}
			};
			xhr.send();
		}
	</script>
</body>
</html>