<!DOCTYPE html>
<html>
<head>
            <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="baidu_union_verify" content="e375dfea1f5937c9114d7fea78c91675">
        <meta name="keywords" content="懂球帝|足球新闻|足球App|足球资讯|足球直播|足球视频|足球比分|中国足球"/>
                            <title>懂球帝女神大会特别篇：当沙尔克球员遇上中国女神 — 沙尔克04|懂球帝</title>
        <script src="https://static1.dongqiudi.com/web-new/static/js/jQuery.1.11.min.js"></script>
        <link rel="shortcut icon" href="https://static1.dongqiudi.com/web-new/web/images/fav.ico?20170706" type="image/x-icon">
                <link rel="stylesheet" href="https://static1.dongqiudi.com/web-new/web/css/style.css?2018102201">
        <style>
                /*首页添加广告文章链接*/
                .ad_click {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 60px;
                        line-height: 60px;
                        width: 80px;
                        color: #333;
                        font-size: 14px;
                        text-align: center;
                }

                @media  screen and (min-width:1160px) {
                        .ad_click {
                                display: none;
                        }
                }
        </style>
        <link rel="stylesheet" href="https://static1.dongqiudi.com/web-new/web/css/jPaginate.css">
                
</head>
<body>
<script src='https://static1.dongqiudi.com/web-new/web/js/baidu_zz_auto_push.js'></script>
<script type="text/javascript" src="https://js.users.51.la/17824121.js"></script>

<div id="header">
    <div class="header_main">
        <div class="header_left">
                            <a href="/" class="logo"><img src="https://static1.dongqiudi.com/web-new/web/images/logo.png?20170622" style="width:120px;padding-top:5px;" alt=""></a>
                        <a href="/" class="nav" sensors-name="home">首页</a>
                            <a href="/match" class="nav" sensors-name="match">比赛</a>
                <a href="/data" class="nav" sensors-name="data">数据</a>
                <a href="/app" class="nav" sensors-name="app">APP</a>
                <a href="http://hao.dongqiudi.com/home" target="_blank" class="nav" sensors-name="dqh">懂球号</a>
                <a href="/live" class="nav" id="live_nav" style="display:none"  sensors-name="dqh">主播后台</a>
                    </div>
        <div class="header_right">
                                                <a href="/user/login" class="login">登录</a>
                                    </div>
        <a href="https://www.dongqiudi.com/archive/197534.html" class="ad_click">广告合作</a>
    </div>
</div>

<div id="main" class="cf">

        <div class="thumb">
        <a href="/">懂球帝首页</a> > <span>
                            懂球号文章
                    </span>
    </div>
    <div id="con" class="cf">
        <div class="left">
            <div class="detail">
                <h1>懂球帝女神大会特别篇：当沙尔克球员遇上中国女神</h1>
                <h4>
                                            <span class="name">沙尔克04足球俱乐部</span>
                                        <span class="time">2018-11-29 18:00:11</span>
                    <!-- <a class="comm" href="#share">评论</a> -->
                </h4>
                                            <div><p><div class="video" mode="player" site="qiniu" src="https://o6yh618n9.qnssl.com/JxuJsHj5_0139743451.mp4" title="" thumb="https://o6yh618n9.qnssl.com/JxuJsHj5_0139743451.mp4?vframe/jpg/offset/1"  hash="494b5837ebf6e620318e6b95045e352d"></div></p><p>懂球帝女神大会，这一期由沙尔克04来承包！面对5名中国女神，3轮精彩问答，一起来看看我矿2位球员会有哪些精彩表现！</p></div>
                                    <ul class="sourse">
                                                              <li>以上仅代表作者观点，并非懂球帝官方观点</li>
                      <li>自媒体如有侵权，请联系<a href="mailto:hezuo@dongqiudi.com">懂球帝</a></li>
                    
                </ul>
                <div id="share">
                    分享到：
                    <div class="bdsharebuttonbox" style="display:inline-block; vertical-align:middle">
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                    </div>
                    <script>window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "1",
                                "bdMiniList": false,
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "24"
                            }, "share": {}
                        };
                        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = "https://static1.dongqiudi.com/web-new/static/baiduShare/static/api/js/share.js?v=89860593.js?cdnversion="+ ~(-new Date() / 36e5)];</script>
                </div>

            </div>
            <div id="comment">
                        <!-- 
                <h2>我要评论</h2>
                                    <textarea placeholder="登录即可参与讨论！" onclick="maskShow('unlogin')"></textarea>
                                
                <div class="info cf">
                                            <a href="javascript:void(0);" onclick="maskShow('unlogin')" class="btn btn_disable">提交评论</a>
                                    </div>
           -->
                                                                                                                                                                                                                                                                    </div>

        </div>
                <div class="right">
                <div id="news_s_list" class="conFrame">
                    <div class="title cf">
                        <span>相关标签</span>
                    </div>
                    <div class="lists">
                                                    <a  href="/team/966.html" target="_blank" >
                                <img src="http://sd.qunliao.info/fastdfs3/M00/B5/77/ChOxM1xC2IWAJ_5gAAALpihZbkQ709.png" onerror="this.src='https://static1.dongqiudi.com/web-new/web/images/defaultTeam.png'" />
                                <span>
                                    沙尔克04
                                </span>
                                <p>
                                    <span class="time">Schalke 04</span>
                                </p>
                            </a>
                                            </div>
                </div>
        </div>
                <div class="right">
                            <div id="news_s_list" class="conFrame">
                    <div class="title cf">
                        <span>相关新闻</span>
                    </div>
                    <ol>
                                                    <li>
                                <h3><a href="https://www.dongqiudi.com/archive/1185739.html" target="_blank">?鲁迪在INS上与我矿深情告别亲爱的沙尔克粉丝们...</a></h3>

                                <p>
                                    <span class="time">2019-08-02 14:30</span>
                                </p>
                            </li>
                                                    <li>
                                <h3><a href="https://www.dongqiudi.com/archive/1185703.html" target="_blank">足坛网坛一家亲，矿工合影法网亚军！</a></h3>

                                <p>
                                    <span class="time">2019-08-02 13:23</span>
                                </p>
                            </li>
                                                    <li>
                                <h3><a href="https://www.dongqiudi.com/archive/1185628.html" target="_blank">带上这副墨镜?俺就村里最靓的崽！? ​​​​</a></h3>

                                <p>
                                    <span class="time">2019-08-02 11:11</span>
                                </p>
                            </li>
                                                    <li>
                                <h3><a href="https://www.dongqiudi.com/archive/1185389.html" target="_blank">Sch&ouml;n, dich wieder laufe...</a></h3>

                                <p>
                                    <span class="time">2019-08-02 03:10</span>
                                </p>
                            </li>
                                                    <li>
                                <h3><a href="https://www.dongqiudi.com/archive/1185195.html" target="_blank">Keep cool 😎..#S04inAustr...</a></h3>

                                <p>
                                    <span class="time">2019-08-01 21:10</span>
                                </p>
                            </li>
                                            </ol>
                </div>
                        <div>
                <!-- Google AdSense Start -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- PC文章相关新闻下侧广告-固定300x600 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:600px"
                     data-ad-client="ca-pub-2740956561998702"
                     data-ad-slot="7850702615"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <!-- Google AdSense End -->
            </div>
        </div>
    </div>


</div>

<div id="footer">
    <div class="footer_main">
        <dl class="list_1">
                            <dt>懂球帝 | All Football App</dt>
                <dd><a href="https://www.dongqiudi.com/archive/5855.html">关于懂球帝</a></dd>
                <dd><a href="http://hr.dongqiudi.com/" target="_blank">加入我们</a></dd>
                <dd><a href="/app">客户端下载</a></dd>
                <dd><a href="https://www.dongqiudi.com/complain">侵权投诉</a></dd>
                <dd><a href="https://www.dongqiudi.com/archive/197534.html">广告投放</a></dd>
                <dd>联系方式：010-82333001</dd>
                    </dl>
        <dl class="list_2">
                            <dt>关注</dt>
                <dd><a href="http://weibo.com/ballpure" target="_balnk">官方微博</a></dd>
                <dd><a href="https://www.dongqiudi.net" target="_blank">小游戏</a></dd>
                    </dl>
        <dl class="list_4">
                            <dt>友情链接</dt>
                <dd><a href="http://all.football" target="_balnk">ALL FOOTBALL</a></dd>
                <dd><a href="http://dongqiudi.com/bbs" target="_balnk">影视资源下载</a></dd>
                <dd><a href="http://m.kuaidi100.com" target="_balnk">快递查询</a></dd>
               <!--  <dd><a href="https://www.hupu.com" target="_balnk">虎扑网</a></dd> -->
                <dd><a href="http://www.letterfan.com" target="_balnk">信虫地带</a></dd>
                <dd><a href="http://live.qq.com" target="_balnk">企鹅直播</a></dd>
                <dd><a href="https://www.dongqiudi.com/subject/" target="_balnk">D站</a></dd>
                    </dl>
        <dl class="list_3">
                            <dd>京ICP证 150469号</dd>
                                <dd>京ICP备 14042073号-3</dd>
                                <dd><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020789" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://static1.dongqiudi.com/web-new/web/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010802020789号</p></a></dd>
                <dd><img src="https://img1.dongqiudi.com/fastdfs3/M00/9F/2F/ChO2w10VihCAJPzBAAMN-R1b3c8074.jpg" style="width:16px;position:relative;top:2px;margin-right:5px;float:left;"><a target="_blank" href="https://activity-static.dongqiudi.com/yingyezhizhao.jpg">营业执照</a> </dd>
                <dd><a target="_blank" href="https://static1.dongqiudi.com/web-new/web/images/shipinjingying.jpg">食品经营许可证</a> </dd>
                
                                    <dd>
                        违法和不良信息举报</br>
                        举报邮箱：<a target="_blank" href="mailto:jubao@dongqiudi.com">jubao@dongqiudi.com</a></br>
                        举报电话：<a target="_blank">010-82333001</a>
                    </dd>
                                    </dl>
    </div>
</div>
<div id="mask">
    <div id="pop">
        <a href="#" class="close"></a>
            <h3><span class="icon_sad"></span> 非常抱歉！</h3>
            <p></p>
            <a href="#" class="btn"></a>
    </div>
</div>
<div id="blink">
    <div id="popUp">
     <p></p>
    </div>
</div>
<div id="ctr">
    <div class="code"></div>
    <span class="icon_qr"></span>
    <a href="#" class="b_t"></a>
</div>
<script src="https://static1.dongqiudi.com/web-new/web/js/common.js?20180105"></script>

</body>
<script src="https://static1.dongqiudi.com/web-new/web/js/sensors.js?080206"></script>
<script src="https://static1.dongqiudi.com/web-new/web/js/pc_statistics.js?080206"></script>
    <script type="text/javascript" src="/archive/web/click/868647"></script>
    <script type="text/javascript" src="https://static1.dongqiudi.com/web-new/static/js/jquery.pjax.js"></script>
    <script type="text/javascript" src="https://static1.dongqiudi.com/web-new/static/js/jsrender/jsrender.min.js"></script>
    <script type="text/javascript" src='https://static1.dongqiudi.com/web-new/web/js/main.js'></script>
    <script type="text/javascript" src='https://static1.dongqiudi.com/web-new/web/js/vote.js'></script>

    <!-- Vote Template 投票模版-->
    <script id="voteTemplate" type="text/x-jsrender">
        <div class=vote_box>
            <div class='options {{if max_vote>1}} checkbox {{else}} radio{{/if}}' rel="{{:max_vote }}" >
                <dl>
                    <dt>{{:title}}
                    <span>(
                    {{if max_vote>1}}
                     可选{{:max_vote }} 项
                        {{else}}
                     单选
                    {{/if}})</span></dt>
                    {{for options}}
                        <dd rel={{:id}}><span class ="tag"></span>{{:title}}</dd>
                    {{/for}}
                </dl>
                <div class="text">

                </div>
            </div>
        </div>
    </script>
    <script>
        var to_user_str = null;
        var to_user_id = 0;

        var destory = function (id) {
            $.ajax({
                type: "get",
                url: '/comment/destory/' + id,
                success: function (data) {
                    if (data.errCode) {
                        blinkShow(data.errMsg);
                        return;
                    }

                    blinkShow('删除成功');
                    $('#com_' + id).closest('li').remove();
                },
                error: function (data) {
                    if (data.status == 401) {
                        maskShow("登录之后才可以举报哦~");
                        return;
                    }
                }
            });
        }


        var report = function (id) {
            $.ajax({
                type: "get",
                url: '/comment/report/' + id,
                success: function (data) {
                    if (data.errCode) {
                        blinkShow(data.errMsg);
                        return;
                    }

                    blinkShow('举报成功');
                },
                error: function (data) {
                    if (data.status == 401) {
                        maskShow("登录之后才可以举报哦~");
                        return;
                    }
                }
            });
        }


        var up = function (id) {
            $.ajax({
                type: "get",
                url: '/comment/up/' + id,
                success: function (data) {
                    if (data.errCode) {
                        blinkShow(data.errMsg);
                        return;
                    }
                    blinkShow("赞 +1");
                    var name = "[name=up_" + data.id + "]";
                    $(name).html("赞（" + data.up + "）");
                },
                error: function (data) {
                    if (data.status == 401) {
                        maskShow("unlogin");
                        return;
                    }
                }
            });

        }


        var comment = function () {
            var url = "/comment/add/article/" +  868647;
            var content = $('#conBox').val();

            if (to_user_str != null && content.startWith(to_user_str)) {
                url = "/comment/add/comment/" + to_user_id;
            }
            var _data = {
                'content': content.replace(to_user_str, ""),
                '_token': 'tC7ZMBxx15vDUilHSB7WqW1vUdIrolJb1hz3JZEY'
            };

            $.ajax({
                type: "post",
                url: url,
                data: _data,
                success: function (data) {
                    if (data.errCode) {
                        if (data.errCode == 401) {
                            maskShow('未登录');
                            return;
                        }
                        maskShow(data.errMsg);
                        return;
                    }
                    $('#conBox').val('');
                    blinkShow("评论成功");
                    $('#all_comment').empty();
                    loadPage(1);
                },
                error: function (data) {
                    if (data.status == 401) {
                        maskShow('未登录');
                    }
                    else if (data.responseJSON) {
                        msg = data.responseJSON.errMsg;
                        if (data.responseJSON.errCode == 40008) {
                            msg = '您当前处于封禁状态，不能发言';
                        }

                        maskShow(msg);
                    }
                    else {
                        mastShow('评论失败');
                    }
                }
            });
        }


        var setCommentInfo = function (comment_id, user_name) {
            to_user_str = '回复@' + user_name + '的评论:';
            to_user_id = comment_id;
            $('#conBox').focus().val(to_user_str);
        }


        String.prototype.startWith = function (str) {
            var reg = new RegExp("^" + str);
            return reg.test(this);
        }


        var scroll_locked = false;
        var scroll_times = 1;
        var article_id = 868647;

        $(function () {
            $(document).scroll(function () {
                window.setTimeout(function () {
                    if (scroll_times < 3 && !scroll_locked) {
                        var allHeight = document.body.scrollHeight;
                        var sHeight = document.documentElement.scrollTop || document.body.scrollTop;
                        var winHeight = document.documentElement.clientHeight;
                        var margin = allHeight - sHeight - winHeight;

                        if (margin < 1000) {
                            scroll_locked = true;
                            var page = 1;
                            if (request('page')) {
                                page = parseInt(request('page'));
                            }
                            page = page + scroll_times;
                            scroll_times = scroll_times + 1;

                            loadPage(page);

                        }
                    }
                }, 100)
            });
            $('#comment').delegate('a.recom', 'click', function () {
                var comment_id = $(this).closest('.ctr').attr('rel');
                var user_name = $(this).closest('.ctr').attr('res');
                var logined = $('#loginStat').val();
                if (logined) {
                    setCommentInfo(comment_id, user_name)
                } else {
                    maskShow('unlogin');
                    return false;
                }
            });
            $('#comment').delegate('a.report', 'click', function () {
                var comment_id = $(this).closest('.ctr').attr('rel');
                var logined = $('#loginStat').val();
                if (logined) {
                    report(comment_id)
                } else {
                    maskShow('unlogin');

                }
                return false;
            });
            $('#comment').delegate('a.zan', 'click', function () {
                var comment_id = $(this).closest('.ctr').attr('rel');
                var logined = $('#loginStat').val();
                if (logined) {
                    up(comment_id)
                } else {
                    maskShow('unlogin');
                }
                return false;
            });
            $('#comment').delegate('a.destory', 'click', function () {
                var comment_id = $(this).closest('.ctr').attr('rel');
                var logined = $('#loginStat').val();
                if (logined) {
                    destory(comment_id)
                } else {
                    maskShow('unlogin');
                }
                return false;
            });
            $('.detail a').each(function (index) {
                url = $(this).attr('href');
                if (url.match(/dongqiudi:\/\//i)) {
                    url = url.replace('dongqiudi:///', 'http://www.dongqiudi.com/');
                    url = url.replace('dongqiudi://', 'http://');
                    url = url.replace('www.dongqiudi.com/news', 'www.dongqiudi.com/article')
                    $(this).attr('href', url);
                    $(this).attr('target', '_blank');
                }
            });

            $(document).pjax('.pagination a', '#pjax-container', {scrollTo: false});

            $(document).on('pjax:end', function () {
                scroll_locked = false;
                scroll_times = 1;
                $('.loading').css({visibility: 'hidden'});
            });

           checkVote();

        })

        function loadPage(page) {
            $('.loading').css({visibility: 'visible'});
            $.getJSON('/comment/' + article_id + '?page=' + page, function (data) {
                var html = data.data;
                $(html).appendTo('#all_comment');
                $('.pagination').replaceWith(data.render);
                $('.loading').css({visibility: 'hidden'});
                scroll_locked = false;
                if (scroll_times === 3) {
                    $('.pagination').css('visibility', 'visible')
                }
            });
        }

    </script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?662abe3e1ab2558f09503989c9076934";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>
